// overwrites
$contentWidth = 920px;

// dark theme colors
$darkPrimaryBg = #282828;
$darkSecondaryBg = hsla(0,0%,100%,.1);
$darkTextColor = #f3f3f3;
$darkAltTextColor = #b9b9b9;
$darkBorderColor = alpha(#fff, 0.1);

$codeTextColor = #eae6e0;

// red theme colors
$redAccentColor = #de3636;

// blue theme colors
$blueAccentColor = #2196f3;

// purple theme colors
$purpleAccentColor = #a846eb;

// content block colors
$tipGreen = #42b983;
$warningYellow = #ffe564;
$dangerRed = #c00;
